{% extends 'index.html' %}

{%block container%}<br><br><br>
<form action="{{url_for('search')}}" method="post">
  <b style='color:#D5DBDB'>Enter a Name : </b><input type="text" name="name1">
  <input type="submit" value="search">
</form>

{%endblock%}

{%block header1%}
<a tabindex="0" class="btn btn-lg btn-danger" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Dismissible popover" data-bs-content="And here's some amazing content. It's very engaging. Right?">"Sorry, There is no such contact exist"</a>
{%endblock%}
